@model float
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        

    <form method="post" asp-controller="Home" asp-action="Index">
        <input type="text" size="30" name="expression" placeholder="Enter expression">
        <input type="submit" value="Calculate">
    </form>
        <span>Result:</span>
        <div id="result">@Model</div>
    </div>
